body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #d1e79b;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

.destaque {
    text-align: center;
    padding: 20px;
}

.destaque img {
    max-width: 100%;
    height: auto;
}

.galeria {
    padding: 20px;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Formulário para estilização */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 22px); /* Ajuste para padding e borda */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 150px;
}

button[type="submit"] {
    background-color: #66bb6a; /* Verde suave */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4caf50; /* Verde um pouco mais escuro */
}

/* Cores de destaque das letras */
label, button[type="submit"] {
    color: #4a6572; /* Azul acinzentado */
}

button[type="submit"] {
    background-color: #d1e79b; /* Marrom claro */
}

button[type="submit"]:hover {
    background-color: #8d6e63; /* Marrom um pouco mais escuro */
}

/* Estilos de foco */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #81c784; /* Verde claro */
    box-shadow: 0 0 5px rgba(129, 199, 132, 0.5);
}

/*Rodape da pagina */
footer {
    background-color: #d1e79b;
    padding: 10px 0;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    header nav ul li {
        margin: 5px 0;
    }
}